pipeline/PL_Training_Usemetadata_filter.json
{
	"name": "PL_Training_Usemetadata_filter",
	"properties": {
		"activities": [
			{
				"name": "Get all file names",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BL_client_data",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get customer files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get all file names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get all file names').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'customerdetails')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get order files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get all file names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get all file names').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'orderdetails')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy customer data",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get customer files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BL_client_data",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BL_consolidated_data_customers",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "AdfTraining"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-27T08:30:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}